.description-lb {
    position: absolute;     
    left: 8%;              
    bottom: 10%; /* Stays 10% from the bottom of the FIRST screen */
    width: 27%;              
    color: #787878;           
    font-size: 16px;          
    letter-spacing: 2px;
    line-height: 1.3;         
    text-align: left;        
    z-index: 20; /* Stays above the canvas */
}

/* Caption - BOTTOM RIGHT */
.description-caption-rb {
    position: absolute;        
    right: 8%;                 
    bottom: 10%; /* Stays 10% from the bottom of the FIRST screen */
    color: #787878;                  
    font-size: 16px;          
    letter-spacing: 2px;     
    text-align: right;
    z-index: 20;    
}