/* Container for the main descriptive text */
.description-lb{
    position: absolute;     
    left: 8%;              
    bottom: 10%;               
    width: 27%;              
    color: #787878;           
    font-size: 16px;          
    letter-spacing:2px;
    line-height: 1.3;         
    text-align: left;        
}

.description-caption-rb {
    position: absolute;        
    right: 8%;                 
    bottom: 10%;               
    color: #787878;                  
    font-size: 16px;          
    letter-spacing:2px;     
    text-align: right;    
}