/* Container for the main descriptive text */
.description-lt {
    position: absolute;     
    left: 8%;              
    top: 10%;               
    width: 28%;              
    color: #787878;           
    font-size: 16px;          
    letter-spacing:2px;
    line-height: 1.3;          
}

.description-caption-lb {
    position: absolute;        
    left: 8%;                 
    bottom: 10%;               
    color: #787878;                  
    font-size: 16px;          
    letter-spacing:2px;
}